/*	Header	*/
.header{
	background-color: rgb(45, 49, 53);
	padding-bottom: 5.8%;
}

.logo{
	padding-top: 3.6%;
	padding-left: 6.8%;
}
.logo img{
	max-width: 261px;
}

.header .row:nth-child(2){
	padding-left: 2%;
	padding-top: 5.3%;
}

.contact_icon img{
	max-width: 238px;
}



form{
	margin-top: 1.5%;
}

form .col-xl-4{
	margin-left: 13.3%;
}

form .col-xl-5{
	margin-left: 3.5%;
	margin-top: -1px;
}

form .form-group:nth-child(2){
	margin-top: 12.9%;
	margin-left: -2px;
}

form label{
	color: rgb(215, 215, 215);
	font-family: 'Roboto Medium';
	font-size: 30px;
	position: relative;
}

form label:after{
	content: ' *';
	display: inline-block;
	position: absolute;
	right: -27px;
    top: -1px;

	color: rgb(190, 57, 59);
	font-family: 'Roboto Medium';
	font-size: 37px;
}

form .form-group input{
	max-width: 90.5%;
	height: 84px;
}

form .form-group input, 
form .form-group input:focus, 
form .form-group textarea,
form .form-group textarea:focus{
	padding: 20px 23px;
	font-size: 26px;
	color: rgb(215, 215, 215);
	font-family: 'Roboto';
	background-color: rgb(46, 50, 55);
	border-color: rgb(75, 79, 83);
}

form .form-group input:focus,
form .form-group textarea:focus{
	border-color: rgb(116, 53, 56);
	box-shadow: none !important;
}

form .form-group textarea{
	max-width: 86%;
	height: 285px;
	resize: none;
	/*margin-left: 1%;*/
}

form > div:last-child{
	margin-top: 5.3%;
    padding-left: 4.8%;
}

form .btn{
	font-size: 31px;
	font-family: 'Roboto';
	font-weight: bold;
	padding: 15px 28px;
}

form .error_message{
	color: rgb(182, 44, 44);
}

/*	Main	*/

.main .row:first-child{
	margin-top: 7.96%;
	font-size: 36.8px;
	color: rgb(55, 65, 78);
	font-family: 'Roboto Medium';
	padding-right: 2.2%;
}

.main .row:last-child{
	max-width: 1000px;
	padding-top: 2.7rem;
	padding-bottom: 7.4rem;
}

.main .card{
	max-width: 285px;
	border: 0;
	margin-top: 3.6rem;
}

.main .card .card-header{
	font-size: 29px;
	color: rgb(255, 255, 255);
	font-family: 'Roboto Medium';
	padding: 1rem 0 .7rem 0;
}

.main .card:nth-child(odd) .card-header{
	background-color: rgb(75, 89, 108);
}

.main .card:nth-child(even) .card-header{
	background-color: rgb(88, 173, 82);
}

.main .card:nth-child(odd) .card-body{
	background-color: rgb(233, 238, 243);
}

.main .card:nth-child(even) .card-body{
	background-color: rgb(222, 235, 222);
}

.main .card:nth-child(odd) .card-title{
	color: rgb(109, 115, 123);
}

.main .card:nth-child(even) .card-title{
	color: rgb(88, 173, 82);
}

.main .card .card-title{
	font-size: 29px;
	font-family: 'Roboto';
	font-weight: 700;
	padding: 1rem .5rem;
}

.main .card .card-text{
	font-size: 26px;
	padding: 1.2rem .7rem .7rem 0rem;
    line-height: 1.6rem;
    min-height: 155px;
}

.main .card:nth-child(odd) .card-text{
	font-family: 'Roboto Medium';
	color: rgb(118, 117, 130);
}

.main .card:nth-child(even) .card-text{
	color: rgb(88, 130, 117);
	font-family: 'Roboto';
}

/*	Footer	*/


.footer{
	background-color: rgb(42, 45, 51);
}

.footer .row{
	padding-top: 31px;
	padding-bottom: 47px;
	padding-left: 5.4rem;
}

.footer .row > div:first-child img{
	max-width: 208px;
}

.footer .sn a:hover{
	transition-duration: none;
}

.footer .sn a:first-child{
	padding-left: 5rem;
    padding-right: 2.4rem;
}

.footer .sn img{
	max-width: 41px;
}

/*	Media	*/
@media (max-width: 1199px){
	form .col-xl-4,
	form .col-xl-5{
		margin: 0 auto;
	}

	form .form-group:nth-child(2){
		margin-top: initial;
		margin-left: -2px;
	}

	form .form-group input,
	form .form-group textarea{
		max-width: 100%;
	}

	form .form-group textarea{
		height: 242px;
	}

	.footer .row{
		padding-left: 0;
	}
}

@media (max-width: 991px){

	.header .contact_icon img{
		max-width: 100%;
	}

	.main .row:last-child{
		padding-top: 0;
	}

	.footer .sn a:first-child{
		padding-left: 0;
	}
}

@media (max-width: 767px){
	form > div:last-child{
    	padding: 0;
    	/*text-align: center;*/
    	/*margin: auto;*/
 	}

 	.main .row:first-child{
 		padding-right: 0;
 	}
}

.qq{
	position: absolute;
	top: 0;
	z-index: 4;
	width: 100%;
	opacity: .5;
}